body {
  padding: 0;
  margin: 0;
}

#banner {
  background-image: url(images/hero.jpeg);
  height: 600px;
  background-size: cover;
  background-position: center;
}

#our-selection-banner {
  background-image: url(images/our-selection.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
}

#order-now-banner {
  background-image: url(images/order-now.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
}

#our-story-banner {
  background-image: url(images/our-story.jpg);
  height: 600px;
  background-size: cover;
  background-position: center;
}

#banner-brand {
  font-weight: 400;
}

#banners-title {
  color: white;
  font-weight: 400;
}

.banner-lead {
  color: white;
  font-weight: 600;
}

.card-img-top {
  width: 100%;
  height: 380px;
  object-fit: cover;
}

#cta {
  background-image: url(images/cta.jpeg);
  height: 600px;
  background-size: cover;
  background-position: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.footer-subtitle {
  font-weight: 600;
}

footer p {
  font-size: 12px;
  font-weight: 100;
  color: white;
  text-align: center;
}

.row1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer a {
  color: white;
  text-decoration: none;
}

.socials {
  display: flex;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  footer {
    height: 280px;
    gap: 36px;
  }

  footer p {
    text-align: left;
  }

  .row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 200px;
  }

  .about,
  .quicklinks,
  .contact {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .about {
    flex-basis: 200px;
    max-width: 400px;
  }
}
